<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://schemas.microsoft.com/2011/01/fabric">
	<Section Name="ConnectionStrings">
		<Parameter Name="DefaultConnection"
			Value="Server=tcp:localhost,1433;Database=TravelPlannerAuthDb;User Id=travelplanner;Password=Travel123!;TrustServerCertificate=True;" />
	</Section>
	<Section Name="JwtSettings">
		<Parameter Name="Secret" Value="TravelPlannerSuperSecretKey2024!!XYZ" />
		<Parameter Name="Issuer" Value="TravelPlannerAPI" />
		<Parameter Name="Audience" Value="TravelPlannerClient" />
		<Parameter Name="ExpiryDays" Value="7" />
	</Section>
</Settings>